$main-txt-color:#111111;
 
.hero_quote {
    font-size: 18px;
    margin-top: 10px;
    margin-left: 190px;
    color: #979797;
    font-style: italic;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

#line{
   /* text-decoration: overline;
    text-decoration-color: #979797;
    text-decoration-thickness: 1px;
    margin-bottom: 10px;*/
    border-top: 1px solid #979797;
    padding-top: 1px;
}